web/WEB-INF/wsdl/localhost_8080/CRUD-Servicio/ServicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="ServicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/CRUD-Servicio/ServicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="ListarID">
<part name="parameters" element="tns:ListarID"/>
</message>
<message name="ListarIDResponse">
<part name="parameters" element="tns:ListarIDResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<portType name="ServicioWeb">
<operation name="Actualizar">
<input wsam:Action="http://Services/ServicioWeb/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://Services/ServicioWeb/ActualizarResponse" message="tns:ActualizarResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://Services/ServicioWeb/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://Services/ServicioWeb/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="ListarID">
<input wsam:Action="http://Services/ServicioWeb/ListarIDRequest" message="tns:ListarID"/>
<output wsam:Action="http://Services/ServicioWeb/ListarIDResponse" message="tns:ListarIDResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://Services/ServicioWeb/listarRequest" message="tns:listar"/>
<output wsam:Action="http://Services/ServicioWeb/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://Services/ServicioWeb/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://Services/ServicioWeb/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
</portType>
<binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioWeb">
<port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
<soap:address location="http://localhost:8080/CRUD-Servicio/ServicioWeb"/>
</port>
</service>
</definitions>